@font-face {
    font-family: 'font1';
    src: url('../Fonts/Caveat-Medium.ttf') ;
    font-weight: 700;
}
@font-face {
    font-family: 'font2';
    src: url('../Fonts/JosefinSans-Bold.ttf');
}
@font-face {
    font-family: 'font3';
    src: url('../Fonts/HOTC.woff2');
}
@font-face {
    font-family: 'font4';
    src: url('../Fonts/Aestera.ttf');
}
@font-face {
    font-family: 'font5';
    src: url('../Fonts/Zaslia.ttf');
}

@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #970000; */
    background-color: white;
    color: white;
}

.btn:hover{
    background-color: transparent;
    transition: 0.1s ease-in;
    color: white;
    cursor: pointer;
    border: 2px solid black;
}

.subcard:hover{
    height: 93%;
    width: 99.9%;
    transition: 0.5s ease ;
}


/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
