@font-face {
    font-family: 'font1';
    src: url('../Fonts/Caveat-Medium.ttf') ;
    font-weight: 700;
}
@font-face {
    font-family: 'font2';
    src: url('../Fonts/JosefinSans-Bold.ttf');
}
@font-face {
    font-family: 'font3';
    src: url('../Fonts/HOTC.woff2');
}
@font-face {
    font-family: 'font4';
    src: url('../Fonts/Aestera.ttf');
}
@font-face {
    font-family: 'font5';
    src: url('../Fonts/Zaslia.ttf');
}

@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #970000; */
    background-color: black;
    color: white;
}

